<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.bschramke.android.testing.cucumber">

    <!--
    It is essential to use CucumberInstrumentation as instrumentation.
    targetPackage is the package name of the application you want to test; In this case
    it is the the same as the test package because we are using only this one project to
    test itself.
    -->
    <instrumentation
        android:name="com.github.bschramke.android.testing.sample.test.support.CucumberInstrumentation"
        android:targetPackage="com.github.bschramke.android.testing.sample"/>
</manifest>